<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>

<body>
  <h1>This is home page</h1>
  <h3>
    <%= 1+2 %>
  </h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique itaque neque soluta fugiat harum, possimus
    excepturi aspernatur, laboriosam assumenda, delectus accusantium animi ea corrupti illo cumque consequuntur est ad
    voluptas?</p>
  <button>Submit</button>
</body>

</html>